name: Build signed APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: chmod +x ./gradlew

      - run: ./gradlew assembleRelease

      - uses: actions/upload-artifact@v4
        with:
          name: GabaLogin-release
          path: app/build/outputs/apk/release/app-release.apk
